@{
    ViewData["Title"] = "Login Page";
}

<div class="login-body">
    <div class="main-login">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <div class="login-logo" style="background-image: url('/images/login_logo.png');"></div>
        </a>
        <h1>Login</h1>
        <form>
            <label id="mylabel" for="username">Username</label>
            <input id="myInput" type="text" id="username" name="username" required>

            <br>

            <label id="mylabel" for="password">Password</label>
            <input id="myInput" type="password" id="password" name="password" required>

            <a asp-area="" asp-controller="Account" asp-action="Create"></a>
            <a href="/Account/Create" id="create-account">Create Account</a>

            <br>
            <a asp-area="" asp-controller="Account" asp-action="UserList">View Users</a>

            <br>

            <button id="mybutton" type="submit">Sign in</button>
        </form>
    </div>
    <div class="right-login">
        <div class="login-word" style="background-image: url('/images/logoword.png');"></div>
    </div>
</div>