@{
    ViewData["Title"] = "Category Card";
}

<body>
    <div class="category-cover" style="background-image: url('/images/cover.png');">
        <div class="text-container">
            <h1>Amazon Web Services</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of 
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but also 
                the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
    </div>
    <div class="category-details">
        <h1>Category</h1>
        <div class="category-div" style="background-image: url('/images/aws_bg.png');">
            <div class="text">Amazon Web Services</div>
        </div>
    </div>
    <div class="category-details">
        <h1>Available Trainings</h1>
        <div class="scrollable-container3">
            <div class="div-training-row">
                <div class="training-div" style="background-image: url('/images/training2.png');">
                    <div class="upper-row">
                        <div class="title-upper-right">
                            <p class="title-right">Amazon Web Services</p>
                        </div>
                        <div class="text-bottom-left">
                            <h2>AWS Basics</h2>
                            <p>Description of the training course card.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-training-row">
                <div class="training-div" style="background-image: url('/images/training2.png');">
                    <div class="upper-row">
                        <div class="title-upper-right">
                            <p class="title-right">Amazon Web Services</p>
                        </div>
                        <div class="text-bottom-left">
                            <h2>AWS Basics</h2>
                            <p>Description of the training course card.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-training-row">
                <div class="training-div" style="background-image: url('/images/training2.png');">
                    <div class="upper-row">
                        <div class="title-upper-right">
                            <p class="title-right">Amazon Web Services</p>
                        </div>
                        <div class="text-bottom-left">
                            <h2>AWS Basics</h2>
                            <p>Description of the training course card.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-training-row">
                <div class="training-div" style="background-image: url('/images/training2.png');">
                    <div class="upper-row">
                        <div class="title-upper-right">
                            <p class="title-right">Amazon Web Services</p>
                        </div>
                        <div class="text-bottom-left">
                            <h2>AWS Basics</h2>
                            <p>Description of the training course card.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
