@{
    ViewData["Title"] = "Home Page";
}

<div class="main-div">
    <div class="title-div">
        <h1 class="custom-heading">Training Category</h1>
    </div>
    <div class="scrollable-container">
        <div class="div-row">
            <div class="category-div">
                <div class="text">Text for Div 1</div>
            </div>
            <div class="category-div">
                <div class="text">Text for Div 2</div>
            </div>
            <div class="category-div">
                <div class="text">Text for Div 3</div>
            </div>
            <div class="category-div">
                <div class="text">Text for Div 4</div>
            </div>
            <div class="category-div">
                <div class="text">Text for Div 5</div>
            </div>
            <div class="category-div">
                <div class="text">Text for Div 6</div>
            </div>
        </div>
    </div>
    <div class="scrollable-container">
        <div class="div-row">
            <div class="category-div">
                <div class="text">Text for Div 1</div>
            </div>
            <div class="category-div">
                <div class="text">Text for Div 2</div>
            </div>
            <div class="category-div">
                <div class="text">Text for Div 3</div>
            </div>
            <div class="category-div">
                <div class="text">Text for Div 4</div>
            </div>
            <div class="category-div">
                <div class="text">Text for Div 5</div>
            </div>
            <div class="category-div">
                <div class="text">Text for Div 6</div>
            </div>
        </div>
    </div>
    <div style="padding: 10px;"></div>
    <div class="title-div">
        <h1 class="custom-heading">Training Category</h1>
    </div>
    <div class="scrollable-container">
            <div class="category-div">
                <div class="text">Text for Div 2</div>
            </div>
            <div class="category-div">
                <div class="text">Text for Div 3</div>
            </div>
            <div class="category-div">
                <div class="text">Text for Div 4</div>
            </div>
            <div class="category-div">
                <div class="text">Text for Div 5</div>
            </div>
            <div class="category-div">
                <div class="text">Text for Div 6</div>
            </div>
        </div>
    </div>
</div>
